/* .btn-primary{
    background-color: red;
    border: red;
}

.btn-primary:hover{
    background-color: grey;
    border: grey;
} */

.navbar-expand-md{
    background-color: yellow;
}

/*
.navbar-brand{
    color: white;
} */